.wrapper {
  display: flex;
  font-family: 'Reenie Beanie', cursive;

  .content {
    background-color: #ffc;
    color: #000;
    padding: 1rem;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    min-height: 20rem;
    min-width: 20rem;
    max-width: 35rem;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: 767px) {
      transform: rotate(0deg);
    }

    &.full-details {
      width: 58rem;
      max-width: 90vw;
    }

    .title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      border-bottom: .1rem solid #41403E;
    }

    .description {
      font-size: 2.5rem;
      &.hidden {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .delete-button {
      position: absolute;
      top: .5rem;
      left: .5rem;
      color: red;
      cursor: pointer;
    }

    a {
      color: #fff;
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      font-size: 1.5rem;
      text-decoration: none;
      background-color: blue;
      border-radius: 25rem;
      padding: .5rem;
    }
  }

}
