.button {
  background-color: #5e5df0;
  font-size: 1.5rem;
  border: 0;
  box-shadow: #5e5df0 0 1rem 2rem -1rem;
  color: #fff;
  border-radius: 2.5rem;
  cursor: pointer;
  padding: 1rem;
  min-width: 10rem;

  &:hover {
    opacity: 0.9;
  }
}
