.button {
  background-color: #4CAF50;
  font-size: 1.5rem;
  border: 0;
  box-shadow: #4CAF50 0 1rem 2rem -1rem;
  color: #fff;
  border-radius: 2.5rem;
  border: .1rem solid #4CAF50;
  cursor: pointer;
  padding: 1rem;
  min-width: 10rem;
  transition: all .3s ease;

  &:hover {
    background-color: #fff;
    color: #4CAF50;
  }
}

.link {
  cursor: pointer;
  color: #5e5df0;
  font-size: 1.5rem;
  border: 0;
  background-color: transparent;
}
