.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    min-height: 100vh;

    .content {
        background-color: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 30rem;
        width: 60rem;
        max-width: 90vw;

        .close-button {
            height: 3rem;
            width: 3rem;
            position: absolute;
            left: .5rem;
            top: .5rem;
            color:rgba(0,0,0, .5);
            cursor: pointer;
        }

        .title{
            font-size: 3rem;
        }
    }
}