.header {
  background-color: #fff;
  height: 10rem;
  box-shadow: 0 .8rem .6rem -.6rem #ccc;
  display: flex;
  align-items: center;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94rem;
    max-width: 90vw;
    margin: auto;

    .title {
      font-size: 3rem;
      color: #000;
      letter-spacing: 0.5rem;
    }

    .log-out-button {
      background-color: red;
      font-size: 1.5rem;
      box-shadow: red 0 1rem 2rem -1rem;
      color: #fff;
      border-radius: 2.5rem;
      border: .1rem solid red;
      cursor: pointer;
      padding: 1rem;
      min-width: 10rem;
      transition: all .3s ease;

      &:hover {
        background-color: #fff;
        color: red;
      }
    }
  }
}
